# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: CC0-1.0


# Capella
capella/versions/*/*/capella.tar.gz
capella/versions/*/*/capella.zip
capella/versions/*/dropins/*
!capella/versions/*/dropins/.gitkeep
capella/versions/*/patches/*
!capella/versions/*/patches/.gitkeep
capella/.dockerignore
capella/libs/*

# Capella Builder
builder/m2_cache
builder/output

# TeamForCapella
t4c/updateSite/*/*
t4c/server
t4c/.dockerignore
!t4c/updateSite/*/.gitkeep

# Pure::variants
pure-variants/versions/*/*
!pure-variants/versions/*/.gitkeep
pure-variants/dependencies/*
!pure-variants/dependencies/.gitkeep

# Papyrus
papyrus/versions/*/papyrus.tar.gz

# Eclipse
eclipse/versions/*/*/eclipse.tar.gz

# Tests
tests/t4c-server-test-data

# General
__pycache__
node_exporter*
prometheus*
.venv
.vscode
.idea
volumes
*.egg-info/
.env

**/set_memory_flags.py
!eclipse/set_memory_flags.py
