# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
#
# SPDX-License-Identifier: CC0-1.0

capella/versions/*/capella.tar.gz
capella/versions/*/capella.zip
capella/versions/*/dropins/*
!capella/versions/*/dropins/.gitkeep
t4c/updateSite/*/*
!t4c/updateSite/*/.gitkeep
libs
ease/debug/libs/*
ease/extensions/*/*
!ease/extensions/*/.gitkeep
capella/libs/*
__pycache__
node_exporter*
prometheus*
.venv
.vscode
.idea
