# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
#
# SPDX-License-Identifier: CC0-1.0

# Capella
capella/versions/*/capella.tar.gz
capella/versions/*/capella.zip
capella/versions/*/dropins/*
!capella/versions/*/dropins/.gitkeep
capella/.dockerignore
capella/libs/*

# Capella Builder
builder/m2_cache
builder/output

# TeamForCapella
t4c/updateSite/*/*
t4c/server
t4c/.dockerignore
!t4c/updateSite/*/.gitkeep

# EASE
ease/debug/libs/*
ease/extensions/*/*
!ease/extensions/*/.gitkeep

# Pure::variants
pure-variants/updateSite/*
!pure-variants/updateSite/.gitkeep
pure-variants/dependencies/*
!pure-variants/dependencies/.gitkeep

# Tests
tests/t4c-server-test-data

# General
__pycache__
node_exporter*
prometheus*
.venv
.vscode
.idea
volumes
