black
debugpy
doc8
flake8
flake8-builtins
flake8-docstrings
flake8-isort
flake8-json
flake8-quotes
flake8-rst-docstrings
flake8-unused-arguments
ipython
mypy
neovim-remote
pylint
pynvim
pyright
pytest
pytest-cov
pytest-xdist
